/* CSS DOCUMENT OF TEST51 */

/* 样式重置开始 */
body, section, div, nav, h2, p {
	margin: 0;
}
h2 {
	font-weight: normal;
	font-size: 26px;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-align: none;
}
img {
	border: none;
	vertical-align: top;
}

/* 样式重置结束 */

/* 公共样式开始 */
body {
	font-size: 26px;
	font-family:  Arial, "Microsoft Yahei";
	color: #666;
}
.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #fff;
	display: none;
}
.pageShow {
	display: block;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/* 公共样式结束 */


/* 全局样式开始 */
#welcome {
	z-index: 6;
}
#mask {
	z-index: 5;
}
#index {
	z-index: 4;
}
#form {
	z-index: 3;
}
#news {
	z-index: 2;
}
#over {
	z-index: 1;
}

.bg {
	width: 100%;
	position: absolute;
	top: 10%;
	left: 0;
	opacity: 0;
	-webkit-transform: translateY(100px);
	        transform: translateY(100px);
	-webkit-animation: 1s tree;
			animation: 1s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}
.cloud {
	background: url("images/cloud.png") no-repeat;
	position: absolute;
	background-size: contain;
}
.cloud:nth-of-type(1) {
	width: 58px;
	height: 44px;
	left: 432px;
	top: 15px;
	-webkit-animation: 3s 1.5s cloud infinite alternate linear;
			animation: 3s 1.5s cloud infinite alternate linear;
}
.cloud:nth-of-type(2) {
	width: 91px;
	height: 70px;
	left: 79px;
	top: 77px;
	-webkit-animation: 3s 1.8s cloud infinite alternate linear;
			animation: 3s 1.8s cloud infinite alternate linear;
}
.cloud:nth-of-type(3) {
	width: 54px;
	height: 40px;
	left: 402px;
	top: 142px;
	-webkit-animation: 3s 2.2s cloud infinite alternate linear;
			animation: 3s 2.2s cloud infinite alternate linear;
}


.tags {
	width: 100%;
	line-height: 60px;
}
.tags h2 {
	font-size: 28px;
}
.tags label {
	float: left;
	line-height: 50px;
	margin: 10px 14px 10px 3px;
}
.tags label span {
	padding: 0 24px;
	display: inline-block;
	border-radius: 26px;
}
.tags input[type = "radio"] {
	display: none;
}
.tags input:checked+span {
	border-color: #3c9bbb;
	background-color: #3c9bbb;	
	color: #fff;
}

.submit {
	width: 606px;
	height: 74px;
	margin-top: 20px;
	position: absolute;
	bottom: 17px;
	left: 17px;
	font-size: 30px;
	background-color: #cacaca;
	border-radius: 5px;
}
/* 全局样式结束 */


/* 局部样式开始 */

/* welcome部分 */
/* welcome动画部分开始 */
@-webkit-keyframes tree {
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}
@keyframes tree {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes shake {
	0% {
		-webkit-transform: rotate(-50deg);
	}
	10% {
		-webkit-transform: rotate(45deg);
	}
	20% {
		-webkit-transform: rotate(-40deg);
	}
	30% {
		-webkit-transform: rotate(35deg);
	}
	40% {
		-webkit-transform: rotate(-30deg);
	}
	50% {
		-webkit-transform: rotate(25deg);
	}
	60% {
		-webkit-transform: rotate(-20deg);
	}
	70% {
		-webkit-transform: rotate(-15deg);
	}
	80% {
		-webkit-transform: rotate(10deg);
	}
	90% {
		-webkit-transform: rotate(-5deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@keyframes shake {
	0% {
		transform: rotate(-50deg);
	}
	10% {
		transform: rotate(45deg);
	}
	20% {
		transform: rotate(-40deg);
	}
	30% {
		transform: rotate(35deg);
	}
	40% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(25deg);
	}
	60% {
		transform: rotate(-20deg);
	}
	70% {
		transform: rotate(-15deg);
	}
	80% {
		transform: rotate(10deg);
	}
	90% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes cloud {
	0% {
		-webkit-transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-50px);
	}
}
@keyframes cloud {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50px);
	}
}
/* welcome动画部分结束 */
#welcome {
	transition: .7s opacity;
}
#welcome .tit1 {
	padding-top: 50px;
	position: relative;
	opacity: 0;
	-webkit-transform: translateY(50px);
			transform: translateY(50px);
	-webkit-animation: 1s .3s tree;
			animation: 1s .3s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}
#welcome .shake {
	width: 28px;
	height: 31px;
	background: url("images/shake.png") no-repeat; 
	position: absolute;
	top: 12px;
	left: 509px;
	-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
	-webkit-animation: .6s 1.5s shake;
			animation: .6s 1.5s shake;
}
#welcome .tit2 {
	padding-top: 20px;
	opacity: 0;
	-webkit-transform: translateY(30px);
			transform: translateY(30px);
	-webkit-animation: 1s .6s tree;
			animation: 1s .6s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}
#welcome .logo {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 5%;
	text-align: center;
	opacity: 0;
	-webkit-animation: .5s 1s tree;
			animation: .5s 1s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}

/* index部分 */
/* index -> newsBtn部分动画 */
@-webkit-keyframes newsBtn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.1;
	}

	100% {
		-webkit-transform: scale(1.3);
		opacity: 0.5;
	}
}
@keyframes newsBtn {
	0% {
		transform: scale(0);
		opacity: 0.1;
	}

	100% {
		transform: scale(1.3);
		opacity: 0.5;
	}
}
/* newsBtn部分动画结束  */


#index {
	overflow: auto;
}

#index .wrap {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

#index .picTab {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#index .picList {
	width: 500%;
	overflow: hidden;
}
#index .picList li {
	width: 20%;
	float: left;
}
#index .picList img {
	width: 100%;
	height:342px;
}
#index .mask {
	height: 102px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 100%);
	background:         linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 100%);
}
#index .mask .tit {
	font-size: 29px;
	color: #fff;
	line-height: 120px;
	text-indent: 26px;
}
#index .mask .navList {
	position: absolute;
	right: 26px;
	top: 56px;
}
#index .picTab .newsBtn {
	width: 78px;
	height: 78px;
	position: absolute;
	top: 20px;
	right: 20px;
}
#index .newsBtn em {
	width: 56px;
	height: 56px;
	padding: 11px 11px;
	position: absolute;
	top: 0;
	left: 0;
	font-style: normal;
	font-size: 21px;
	line-height: 28px;
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	background-color: rgba(230, 0, 18, 0.6);
	border-radius: 39px;
	z-index: 1;
}
#index .newsBtn span {
	width: 78px;
	height: 78px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(230, 0, 18, 0.6);
	border-radius: 39px;
	opacity: 0.1;
	-webkit-transform: scale(0);
			transform: scale(0);
}
#index .newsBtn span:nth-of-type(1) {
	-webkit-animation: newsBtn 2s infinite alternate;
			animation: newsBtn 2s infinite alternate;
}
#index .newsBtn span:nth-of-type(2) {
	-webkit-animation: newsBtn 2s .3s infinite alternate;
			animation: newsBtn 2s .3s infinite alternate;
}
#index .newsBtn span:nth-of-type(3) {
	-webkit-animation: newsBtn 2s .7s infinite alternate;
			animation: newsBtn 2s .7s infinite alternate;
}

#index .navList span {
	height: 10px;
	width: 10px;
	float: left;
	margin-left: 15px;
	border-radius: 5px;
	background-color: #fff;
	opacity: 0.5;
}
#index .navList span.active {
	opacity: 1;
}

#index .score {
	width: 100%;
	line-height: 60px;
	padding: 17px 0 22px 26px;
	border-bottom: 1px solid #e5e5e5;
}
#index .score h2 {
	font-size: 28px;
}
#index .score .starList {
	display: inline-block;
	margin-left: 80px;
}
#index .starList span {
	width: 38px;
	height: 36px;
	margin-right: 39px;
	float: left;
	background: url("images/star.png") no-repeat -38px 0;
	transition: .3s;
}
#index .starList span.active {
	background-position: 0 0;
}

#index .tags {
	padding: 17px 5px 22px 26px;
}
#index .tags label span {
	border: 1px solid #cdd6e1;
}


/* mask部分 */
#mask {
	background: url("images/mask.png") no-repeat center 300px;
	background-color: rgba(0, 0, 0, 0.7);
	transition: 1s;
	/*opacity: 0;*/
}


/* form部分 */
#form {
	background-color: #eee;
}
#form input[type = "file"] {
	display: none;
}

#form .tit {
	width: 100%;
}

#form h2 {
	width: 100%;
	padding: 24px 0 0 34px;
	font-size: 26px;
	line-height: 80px;

}

#form .file {
	height: 188px;
	background-color: #fff;
}

#form .file label {
	height: 100%;
	width: 50%;
	padding-top: 100px;
	line-height: 52px;
	text-align: center;
	float: left;
	box-sizing: border-box;
}
#form .file label:nth-of-type(1) {
	border-right: 1px solid #e5e5e5;
	background: url("images/camera1.png") no-repeat center 20px;
}
#form .file label:nth-of-type(2) {
	background: url("images/camera2.png") no-repeat center 30px;
}


/* news部分 */
#news {
	background-color: #eee;
}

#news .tags {
	width: 100%;
	height: 341px;
	padding: 52px 0 0 21px;
	background: url("images/formBg.png") no-repeat;
}
#news .tags h2 {
	color: #fff;
}
#news .tags label span {
	border: 1px solid #cdd6e1;
	color: #fff;
}

#news .formText {
	width: 100%;
	margin-top: 30px;
	padding: 10px 20px;
	display: block;
	font-size: 26px;
	line-height: 50px;
}


/* over部分 */
#over .tit {
	margin-top: 50px;
	opacity: 0;
	-webkit-transform: translateY(50px);
			transform: translateY(50px);
	-webkit-animation: 1s .3s tree;
			animation: 1s .3s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}

#over .submit {
	background-color: #3c9bbb;
	color: #fff;
	opacity: 0;
	-webkit-animation: 1s 1s tree;
			animation: 1s 1s tree;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}